:root {
    --lightblue: rgb(170, 200, 230);
    --navy: rgb(30, 61, 91);

}

h1
{
    text-align: center;
}

html
{
    color: var(--navy);
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}